$primaryColor: #7a1712; 
$secondaryColor: darkblue;
$accentColor: blue;
$greyColor: #ccc;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 16px;